@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Oswald:wght@200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #ebe5e5;
}

.nav_bar {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}

.first {
    background-color: #fff;
}

.list {
    display: flex;
    list-style: none;
    transition: all 0.3s ease-in-out;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}

.logo {
    padding: 10px 15px;
    overflow: hidden;
}

.logo img {
    height: 13px;
    width: 13px;
}

.logo:hover {
    /* height: 40px;
    width: 40px; */
    box-shadow: 0px 10px 15px solid grey;
    background: #bebfc2;
    cursor: pointer;
    color: #000;
    transform: scale(1);
}

.heading {
    font-family: 'Oswald';
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 55px;
    color: #000;
}

.small-head {
    font-family: 'Oswald';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #000;
    margin-top: 18px;
    margin-bottom: 60px;
}

.span {
    color: #fff;
    background-color: #000;
    font-size: 16px;
    padding: 6px;
    /* margin-bottom: 60px; */
}

.img {
    width: 100%;
    height: auto;
}

.text {
    color: #fff;
    font-size: 36px;
    font-family: 'Oswald';
    font-weight: 400;
    padding-top: 23%;
    padding-left: 22px;
}

.jane {
    background-image: url(/images/jane.jpg);
    opacity: 1.0;
    min-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fashn {
    padding-top: 22px;
    color: #fff;
    font-size: 36px;
    font-family: 'Oswald';
    font-weight: bold;
    padding-left: 22px;
    font-size: 70px;
}

.btn {
    height: 50px;
    width: 70px;
    font-family: 'Oswald';
    font-weight: 400;
    padding-left: 22px;
}

.button {
    font-size: 20px;
    margin-top: 15px;
    border-radius: 2px;
    border: none;
    font-family: 'Oswald';
    font-weight: 400;
    padding: 15px;
    color: #000;
    background-color: #ccc;
    opacity: 0.5;
    transition: 0.3s background-color ease-in-out;
}

.button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    opacity: 1;
}

.second {
    margin: 30px;
}

.title {
    width: 66%;
    background: #fff;
    padding: 12px 24px;
    margin-left: 12px;
    font-family: "Open Sans";
    line-height: 1.5;
    font-size: 15px;
}

.box {
    text-align: center;
    align-items: center;
    margin-top: 20px;
    font-size: 28px;
    font-family: "Oswald";
    font-weight: 400;
}

.des {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 4px;
    text-align: center;
    font-weight: 400;
}

.may {
    opacity: 0.7;
}

.girl {
    width: 100%;
}

.girl img {
    width: 100%;
}

.para {
    margin-top: 35px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 18px;
}

.but {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.but button {
    font-size: 13px;
    padding: 15px;
    display: flex;
}

.but :first-child {
    background-color: #fff;
    color: #000;
    /* border: 2px solid #ccc; */
}

.but button img {
    height: 15px;
    width: 15px;
    color: #000;
    background: #fff;
    /* border: none; */
}

.last-tag {
    background-color: #000;
    color: #fff;
    /* border: #000; */
}

.second {
    display: flex;
}

.avatar {
    margin-left: 25px;
    height: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    -webkit-filter: grayscale(100%);
    filter: grayscale(90%);
}

.next {
    color: #fff;
    min-height: 24vh;
    padding: 20px;
    /* padding-top: 20px; */
    background-color: #000;
    margin-top: 60%;
    font-size: 20px;
}

.avatar img {
    height: 40vh;
    width: 33vw;
    /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0   
    filter: grayscale(90%); */
}

.six {
    padding-top: 12px;
    color: #fff;
    /* font-size: 36px; */
    font-family: 'Oswald';
    font-weight: lighter;
    padding-left: 22px;
}

.graph {
    color: #fff;
    font-weight: lighter;
    font-size: 17px;
    margin-top: 20px;
}

.blog {
    color: #fff;
    background-color: #585757;
    height: 25vh;
    width: 100%;
    /* display: inline; */
}

.arrow {
    height: 8vh;
    width: 13vw;
    margin: 50px;
    /* text-align: center;
    justify-content: center; */
    color: #fff;
    background-color: #000;
    border: none;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 22.5px;
    /* text-decoration: none solid rgb(0, 0, 0); */
    text-align: center;
    vertical-align: middle;
    -align: middle;
}

.blog img {
    height: 14px;
    width: 14px;
    /* margin-right: 30px; */
}

.block {
    color: #fff;
    background-color: #585757;
    margin-left: 50px;
    margin-bottom: 60px;
}

.graph {
    color: #fff;
    font-weight: lighter;
    font-size: 17px;
    margin-top: 20px;
}


/* .den{
    color: #fff;
    background-color: #000;
    margin-top: 35px;
    height: 13vh;
    font-size: 23px;
    padding-left: 20px;
    padding-top: 28px;
} */


/* blog section start */

.blog-section {
    /* display: flex; */
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    width: 100%;
}

.blog1,
.blog2,
.blog3 {
    background: #fff;
    padding: 12px 24px;
    font-family: "Open Sans";
    line-height: 1.5;
    font-size: 15px;
    margin: 1rem 0;
}

.myName_section {
    color: #fff;
    background-color: #000;
    font-size: 20px;
}

.text_section {
    padding: 1rem;
}


/* blog section end */

.first-txt {
    background-color: #000;
    color: #fff;
    height: 16%;
    font-size: 18px;
    padding: 23px;
    margin-top: 40px;
    font-family: 'Oswald';
}

.second-txt {
    display: flex;
    background: #fff;
    margin-top: 3px;
    font-weight: lighter;
    font-family: 'Open Sans';
}

.second-txt img {
    height: 50px;
    width: 45px;
    margin: 15px;
}

.inner-txt {
    padding: 1rem;
}

.third-txt {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    padding: 23px;
    margin-top: 40px;
    font-family: 'Oswald';
    font-weight: lighter;
}

.inner-part {
    padding: 1rem;
    background-color: #fff;
    height: 35vh;
}

.inner-part p {
    text-align: center;
    background-color: #ebe5e5;
    height: 30vh;
    padding: 5rem;
    font-family: 'Open Sans';
}

.box-tag {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    padding: 23px;
    margin-top: 40px;
    font-family: 'Oswald';
    font-weight: lighter;
}

.inner-tag {
    font-family: 'Open Sans';
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 5px;
}

.inner-tag p {
    font-size: 15px;
    font-family: 'Open Sans';
    background-color: #fff;
    padding: 1.5rem;
}

.tag {
    margin: 5px;
    padding: 5px;
}

.in-tag {
    background-color: #000;
    color: #fff;
}

.other-tag {
    background-color: #e5e5e5;
    color: #000;
}

.inspire {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    padding: 23px;
    margin-top: 40px;
    font-family: 'Oswald';
    font-weight: lighter;
}

.picture-tag {
    padding: 15px;
    background: #fff;
    /* display: flex; */
}

.pictures-in-tag {
    display: flex;
    justify-content: space-between;
}

.pictures-in-tag:first-child {
    margin-bottom: 15px;
}

.pictures-in-tag img {
    /* width: 13vw; */
    max-width: 48%;
}

.follow-tag {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    padding: 23px;
    margin-top: 40px;
    font-family: 'Oswald';
    font-weight: lighter;
}

.social-tag {
    background-color: #fff;
    /* display: flex;
    list-style: none; */
    transition: all 0.3s ease-in-out;
    width: 100%;
    /* justify-content: space-around; */
    align-items: center;
}

.social-tag ul {
    padding: 10px 8px;
    overflow: hidden;
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.unordered img {
    height: 20px;
    width: 20px;
    margin: 2px;
}

.unordered img:hover {
    background-color: #ccc;
    opacity: 0.5;
}

.subscribe-section {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    padding: 23px;
    margin-top: 40px;
    font-family: 'Oswald';
    font-weight: lighter;
}

.subscribe-para {
    background-color: #fff;
    padding: 20px;
}

.subscribe-para p {
    font-family: 'Open Sans';
    /* padding: 20px; */
    font-weight: lighter;
}

.subscribe-para input {
    width: 100%;
    padding: 10px;
    border: 2px solid #b4afaf;
    margin-top: 15px;
    border-radius: 3px;
}

.subscribe-para button {
    width: 100%;
    margin-top: 15px;
    padding: 8px;
    background-color: #f44336;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 16px;
    border: none;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s all ease-in-out;
}

.subscribe-para button:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.footer {
    background-color: #585757;
    margin-top: 20px;
    overflow: hidden;
    font-family: 'Open Sans';
}

.arrow {
    color: #fff;
    background-color: #000;
    border: none;
    font-size: 15px;
    text-decoration: underline;
    vertical-align: middle;
    border-radius: 3px;
    padding: 5px;
}

.footer img {
    height: 14px;
    width: 14px;
}

.footer p {
    color: #fff;
    margin-left: 38px;
    /* background-color: #585757; */
    margin-bottom: 37px;
}

.footer button {
    margin: 40px;
}